* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  background-color: black;
  padding: 20px;
  color: white;
  width: 100%;
}

.item {
  width: 20%;
  display: inline-block;
  border: 2px solid black;
  padding-right: 2%;
}

.item li {
  list-style-type: none;
  border-bottom: 1px dashed rgb(177, 175, 175);
  padding: 10px 0 15px;
}
.item a {
  color: rgb(177, 175, 175);
  text-decoration: none;
}

footer .item:first-child {
  width: 30%;
  vertical-align: top;
}
